# Exclude All

*

# Unexclude relevant files/directories

!*/
!/bin/*
!/src/**/*.py
!/tests/**/*.py
!/assets/sv_out/*
!/assets/parser_out/*
!.github/workflows/**/*.yml

# Unexclude common files

!.gitignore
!LICENSE
!README.md
!Dockerfile
!ruff.toml
!pyproject.toml
