# Exclude All

*

# Unexclude relevant files/directories

!*/
!/bin/*
!/src/*.py
!/src/socx/**/*.py
!/src/plugins/**/*.py
!/tests/**/*.py
!/assets/**/*
!/assets/**/*
!/plugins/**/*.py
!/settings/**/*.toml

# Unexclude common files

!/.gitignore
!/.python-version
!/LICENSE
!/README.md
!/Dockerfile

# Unexclude configurations

!/.env
!/uv.toml
!/ruff.toml
!/pyproject.toml

